
@media (max-width: 991px) {
	.search_box .input-group-btn button,
	.search_box #pretraga {
		background: #f9f9f9;
	}
	.medium-gutter {
		margin: 0;
	}

	#slider-home {
		margin-bottom: 20px;
	}
	.bottom-header .soc-wrap-default .soc-links,
	.bottom-header .soc-wrap-mobile .call-soc-mobile {
		display: none;
	}
}

/* Slider */
.mstslider {
	margin-top: 5px;
	margin-bottom: 20px;
}
.ms-slide .ms-slide-layers {
	position: absolute;
	overflow: hidden;
	width: 100%;
	z-index: 10;
	height: auto;
	bottom: 0;
	top: auto;
	left: 0 !important;
	right: 0;
	max-width: 100% !important;
	min-height: 130px;
	background: rgba(0, 0, 0, 0.65);
	padding-left: 220px;
	padding: 25px 20px 25px 220px;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s !important;
}
.ms-slide .ms-slide-layers a {
	color: white;
	margin-bottom: 3px;
	display: block;
}
#slider-home .ms-slide .ms-slide-layers .ms-layer {
	bottom: 0;
	height: auto !important;
	position: relative;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	background: none;
	transform: translate(0) !important;
}

.ms-slide .ms-slide-layers .ms-layer,
.ms-slide .ms-slide-layers .ms-layer a {
	transform: translate(0) !important;
	background: none !important;
	padding: 0;
}
.ms-slide .ms-slide-layers .ms-layer::first-letter,
.ms-slide .ms-slide-layers .ms-layer a::first-letter {
	text-transform: uppercase;
}

.ms-slide .ms-slide-layers .ms-layer.stext1,
.ms-slide .ms-slide-layers .ms-layer.stext1 a {
	background: none !important;
	font-style: normal !important;
	line-height: 38px !important;
	font-size: 30px !important;
	text-align: left !important;
	transform: translate(0) !important;
	vertical-align: middle;
	font-weight: 600;
}

.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev {
	background: #09375c !important;
	width: 50px !important;
	height: 50px !important;
	left: 42px !important;
	right: auto !important;
	bottom: 37px !important;
	top: auto !important;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

.ms-skin-default .ms-nav-next {
	left: 98px !important;
}
.ms-skin-default .ms-nav-next:hover,
.ms-skin-default .ms-nav-prev:hover {
	background: #166cad !important;
}
.ms-view {
	left: 0 !important;
}
.ms-container {
	max-width: none !important;
}

.ms-nav-next:before,
.ms-nav-prev:before {
	font-family: "flaticon";
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
	height: 70%;
	margin: auto;
	right: 0;
	top: 0;
	bottom: 0;
	color: white;
	font-size: 25px;
	text-align: center;
}
.ms-nav-next:before {
/*	content: '\e801'; */
	content: '>';
}
.ms-nav-prev:before {
/* 	content: '\e803'; */
	content: '<';

}





/* Carousel */
.self-center {
	align-self: center;
}
.footer-baneri {
	/* 
margin-top: 30px; 
padding: 60px 0;
background: #f7f5f3;
*/
margin-top: 0px; 
padding: 30px 0;


}
.owl-stage-outer {
	position: relative;
}
.qlinks li a {
	font-weight: 300;
}
.owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	pointer-events: none;
	transform: translateY(-50%);
}
.owl-prev,
.owl-next {
	pointer-events: auto;
	position: relative;
}
.owl-prev i,
.owl-next i {
	font-size: 30px;
}
.owl-prev {
	float: left;
	left: -70px;
}
.owl-next {
	float: right;
	right: -70px;
}
.text-over-image {
	width: 100%;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
}



/* Box */
.box {
	display: flex;
	flex-direction: column;
	background: #f6f5f3;
	border-bottom: 2px solid #0b3d6e;
	height: 100%;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

.box:hover {
	text-decoration: none;
}
.box .image {
	position: relative;
}
.date-over-image,
.text-over-image {
	display: table;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 60, 113, 0.84);
	color: white;
	padding: 7px 22px;
	font-size: 13px;
}
.s-text {
	font-size: 11px;
	line-height: 19px;
}
.box-content {
	padding: 14px 20px 20px 20px;
}
.box:hover {
	background: #efefef;
}
.box-title {
	font-size: 15px;
	font-weight: 400;
	color: #003b7d;
	line-height: 1.4;
	margin: 0;
}